In [4]:
import numpy as np

import matplotlib as mpl
import seaborn as sns

import pandas as pd

In [74]:
df = pd.read_csv('../data/result_all.csv')

In [69]:
df.loc[:, 'attribute'].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [75]:
df.loc[df['label'] != 'bike_lane', 'attribute'] = df.loc[df['label'] != 'bike_lane', 'attribute'].apply(eval)
df.loc[df['label'] != 'bike_lane', 'attribute'].apply(type).unique()

In [83]:
df.loc[df['attribute'].apply(type) == list]

,Unnamed: 0,id,name,width,height,label,occluded,points,z_order,attribute
43487,43487,10,MP_SEL_SUR_036052.jpg,1920,1080,alley,0,"1378.38,0.00;1319.78,209.95;1178.16,185.53;116...",1,"[{'@name': 'attribute', '#text': 'blocks'}, {'..."

In [88]:
_drop_image_index = df.loc[df['name'] == 'MP_SEL_SUR_036052.jpg'].index
df = df.drop(_drop_image_index)

In [98]:
df.loc[df['label'] != 'bike_lane', 'sub_label'] = df.loc[df['label'] != 'bike_lane', 'attribute'].apply(lambda x: x['#text'])

In [114]:
df.loc[df['label'] == 'bike_lane', 'sub_label'] = df.loc[df['label'] == 'bike_lane', 'sub_label'].fillna('')

In [120]:
df.loc[:, 'catName'] = df['label'] + '_' + df['sub_label']

In [122]:
df.loc[df['label'] == 'bike_lane', 'catName'] = df.loc[df['label'] == 'bike_lane', 'catName'].map({'bike_lane_': 'bike_lane'})

In [170]:
df['catId'].value_counts()

16    40003
3     28473
14    25758
9     20946
8     13840
7     11172
12    10867
17     7809
5      3585
13     3459
18     3042
15     2301
4      1863
21     1618
2      1558
11     1483
1      1419
19      941
20      834
6       208
10      206
Name: catId, dtype: int64

In [131]:
# tmp = df['catName'].value_counts(normalize=True)
df['catName'].value_counts()

sidewalk_blocks                 40003
alley_normal                    28473
roadway_normal                  25758
caution_zone_manhole            20946
caution_zone_grating            13840
braille_guide_blocks_normal     11172
caution_zone_tree_zone          10867
sidewalk_cement                  7809
bike_lane                        3585
roadway_crosswalk                3459
sidewalk_damaged                 3042
sidewalk_asphalt                 2301
alley_speed_bump                 1863
sidewalk_urethane                1618
alley_damaged                    1558
caution_zone_stairs              1483
alley_crosswalk                  1419
sidewalk_other                    941
sidewalk_soil_stone               834
braille_guide_blocks_damaged      208
caution_zone_repair_zone          206
Name: catName, dtype: int64

In [147]:
catDict = {key: idx+1 for idx, key in enumerate(sorted(df['catName'].unique()))}

In [143]:
df.loc[df.name == 'MP_SEL_SUR_037262.jpg']
# df.loc[df.name == 'MP_SEL_SUR_037262.jpg']
# df

,id,name,width,height,label,occluded,points,z_order,attribute,sub_label,catName
0,0,MP_SEL_SUR_037262.jpg,1920,1080,caution_zone,0,"1449.80,71.16;1465.21,71.88;1482.34,72.89;1500...",5,"{'@name': 'attribute', '#text': 'manhole'}",manhole,caution_zone_manhole
1,0,MP_SEL_SUR_037262.jpg,1920,1080,alley,0,"1681.20,1080.00;1144.66,248.07;1124.83,192.37;...",1,"{'@name': 'attribute', '#text': 'normal'}",normal,alley_normal
2,0,MP_SEL_SUR_037262.jpg,1920,1080,sidewalk,0,"1680.55,1080.00;0.00,1080.00;0.30,471.82;85.85...",6,"{'@name': 'attribute', '#text': 'cement'}",cement,sidewalk_cement
3,0,MP_SEL_SUR_037262.jpg,1920,1080,caution_zone,0,"986.95,98.58;993.04,96.58;1005.64,95.29;1021.8...",2,"{'@name': 'attribute', '#text': 'manhole'}",manhole,caution_zone_manhole
4,0,MP_SEL_SUR_037262.jpg,1920,1080,caution_zone,0,"1241.98,93.56;1253.59,93.56;1271.63,94.60;1288...",4,"{'@name': 'attribute', '#text': 'manhole'}",manhole,caution_zone_manhole

In [148]:
df.loc[:, 'catId'] = df['catName'].apply(lambda x: catDict[x])
df

,id,name,width,height,label,occluded,points,z_order,attribute,sub_label,catName,catId
0,0,MP_SEL_SUR_037262.jpg,1920,1080,caution_zone,0,"1449.80,71.16;1465.21,71.88;1482.34,72.89;1500...",5,"{'@name': 'attribute', '#text': 'manhole'}",manhole,caution_zone_manhole,9
1,0,MP_SEL_SUR_037262.jpg,1920,1080,alley,0,"1681.20,1080.00;1144.66,248.07;1124.83,192.37;...",1,"{'@name': 'attribute', '#text': 'normal'}",normal,alley_normal,3
2,0,MP_SEL_SUR_037262.jpg,1920,1080,sidewalk,0,"1680.55,1080.00;0.00,1080.00;0.30,471.82;85.85...",6,"{'@name': 'attribute', '#text': 'cement'}",cement,sidewalk_cement,17
3,0,MP_SEL_SUR_037262.jpg,1920,1080,caution_zone,0,"986.95,98.58;993.04,96.58;1005.64,95.29;1021.8...",2,"{'@name': 'attribute', '#text': 'manhole'}",manhole,caution_zone_manhole,9
4,0,MP_SEL_SUR_037262.jpg,1920,1080,caution_zone,0,"1241.98,93.56;1253.59,93.56;1271.63,94.60;1288...",4,"{'@name': 'attribute', '#text': 'manhole'}",manhole,caution_zone_manhole,9
...,...,...,...,...,...,...,...,...,...,...,...,...
181384,49,MP_SEL_SUR_021828.jpg,1920,1080,caution_zone,0,"182.12,1078.51;178.71,1034.59;191.20,976.67;21...",3,"{'@name': 'attribute', '#text': 'manhole'}",manhole,caution_zone_manhole,9
181385,49,MP_SEL_SUR_021828.jpg,1920,1080,alley,0,"0.00,104.39;290.39,118.78;0.00,286.79",5,"{'@name': 'attribute', '#text': 'normal'}",normal,alley_normal,3
181386,49,MP_SEL_SUR_021828.jpg,1920,1080,alley,0,"486.36,0.00;288.80,118.20;0.00,105.10;0.00,0.00",4,"{'@name': 'attribute', '#text': 'normal'}",normal,alley_normal,3
181387,49,MP_SEL_SUR_021828.jpg,1920,1080,caution_zone,0,"360.94,77.73;293.88,116.98;441.62,119.16;492.8...",2,"{'@name': 'attribute', '#text': 'grating'}",grating,caution_zone_grating,8
181388,49,MP_SEL_SUR_021828.jpg,1920,1080,alley,0,"1838.48,1072.57;1838.48,1066.71;1777.93,1060.8...",1,"{'@name': 'attribute', '#text': 'normal'}",normal,alley_normal,3

In [175]:
df.to_csv('result_all.v1.csv', index=False)

In [178]:
y = df['catId']
groups = df['name']
seed = 12345678
k = 10

In [163]:
from collections import defaultdict, Counter

In [179]:
labels_num = df['catId'].max()
# https://stackoverflow.com/a/39132900/14019325
# 기존 코드의 첫번째 loop와 동일합니다. 각 image 별 label 개수를 확인합니다.
y_counts_per_group = df.groupby(['name', 'catId']).size().unstack(fill_value=0)
y_counts_per_fold = np.zeros((k, labels_num))

# scale을 미리 계산하여 연산을 줄입니다.
y_norm_counts_per_group = y_counts_per_group / y_counts_per_group.sum()
# suffle & sort
shuffled_and_sorted_index = y_norm_counts_per_group.sample(frac=1, random_state=seed).std(axis=1).sort_values(ascending=False).index
y_norm_counts_per_group = y_norm_counts_per_group.loc[shuffled_and_sorted_index]

groups_per_fold = defaultdict(set)

for g, y_counts in zip(y_norm_counts_per_group.index, y_norm_counts_per_group.values):
    best_fold = None
    min_eval = None
    for fold_i in range(k):
        # 기존 코드 eval_y_counts_per_fold 와 동일합니다.
        y_counts_per_fold[fold_i] += y_counts
        fold_eval = y_counts_per_fold.std(axis=0).mean()  # numpy를 활용하여 연산을 단순화 합니다.
        y_counts_per_fold[fold_i] -= y_counts
        if min_eval is None or fold_eval < min_eval:
            min_eval = fold_eval
            best_fold = fold_i
    y_counts_per_fold[best_fold] += y_counts
    groups_per_fold[best_fold].add(g)

In [180]:
def get_distribution(y_vals):
        y_distr = Counter(y_vals)
        y_vals_sum = sum(y_distr.values())
        return [f'{y_distr[i] / y_vals_sum:.2%}' for i in range(np.max(y_vals) + 1)]

all_groups = set(groups)
# all_groups = set(df.name)

distrs = [get_distribution(y)]
index = ['training set']

for i in range(k):
    train_groups = all_groups - groups_per_fold[i]
    test_groups = groups_per_fold[i]

    train_df = df.loc[df['name'].isin(train_groups)]
    valid_df = df.loc[df['name'].isin(test_groups)]

    distrs.append(get_distribution(train_df['catId'].values))
    index.append(f'train set - fold {i + 1}')
    distrs.append(get_distribution(valid_df['catId'].values))
    index.append(f'validation set - fold {i + 1}')

print('Distribution per class:')
pd.DataFrame(distrs, index=index, columns=[f'Label {l}' for l in range(np.max(y) + 1)])

Distribution per class:

,Label 0,Label 1,Label 2,Label 3,Label 4,Label 5,Label 6,Label 7,Label 8,Label 9,...,Label 12,Label 13,Label 14,Label 15,Label 16,Label 17,Label 18,Label 19,Label 20,Label 21
training set,0.00%,0.77%,0.84%,15.38%,1.00%,1.94%,1.12%,6.03%,7.48%,11.32%,...,5.87%,1.87%,13.91%,1.24%,21.61%,4.22%,1.64%,0.51%,0.45%,0.88%
train set - fold 1,0.00%,0.77%,0.84%,15.38%,1.00%,1.94%,1.12%,6.04%,7.48%,11.31%,...,5.87%,1.87%,13.91%,1.24%,21.61%,4.22%,1.64%,0.50%,0.45%,0.87%
validation set - fold 1,0.00%,0.76%,0.81%,15.38%,1.03%,1.94%,1.13%,5.99%,7.45%,11.33%,...,5.88%,1.83%,13.92%,1.24%,21.59%,4.21%,1.62%,0.54%,0.49%,0.92%
train set - fold 2,0.00%,0.77%,0.83%,15.38%,1.00%,1.94%,1.12%,6.04%,7.47%,11.32%,...,5.87%,1.87%,13.91%,1.24%,21.62%,4.22%,1.64%,0.50%,0.45%,0.88%
validation set - fold 2,0.00%,0.76%,0.86%,15.37%,1.02%,1.94%,1.13%,5.99%,7.50%,11.27%,...,5.88%,1.89%,13.92%,1.24%,21.57%,4.21%,1.62%,0.54%,0.49%,0.86%
train set - fold 3,0.00%,0.77%,0.83%,15.38%,1.01%,1.94%,1.12%,6.03%,7.48%,11.32%,...,5.88%,1.87%,13.92%,1.24%,21.61%,4.22%,1.64%,0.50%,0.45%,0.88%
validation set - fold 3,0.00%,0.76%,0.86%,15.37%,0.97%,1.94%,1.13%,6.04%,7.44%,11.33%,...,5.83%,1.89%,13.86%,1.24%,21.63%,4.21%,1.67%,0.54%,0.49%,0.86%
train set - fold 4,0.00%,0.77%,0.84%,15.38%,1.01%,1.94%,1.12%,6.03%,7.48%,11.31%,...,5.88%,1.87%,13.91%,1.24%,21.61%,4.22%,1.64%,0.51%,0.46%,0.88%
validation set - fold 4,0.00%,0.76%,0.81%,15.40%,0.97%,1.94%,1.13%,6.05%,7.46%,11.35%,...,5.83%,1.89%,13.94%,1.24%,21.61%,4.21%,1.67%,0.49%,0.43%,0.86%
train set - fold 5,0.00%,0.76%,0.84%,15.38%,1.01%,1.94%,1.12%,6.03%,7.48%,11.31%,...,5.88%,1.87%,13.91%,1.24%,21.61%,4.21%,1.64%,0.51%,0.45%,0.88%
validation set - fold 5,0.00%,0.81%,0.81%,15.38%,0.97%,1.94%,1.13%,6.04%,7.45%,11.33%,...,5.83%,1.89%,13.92%,1.24%,21.59%,4.26%,1.62%,0.49%,0.49%,0.86%
train set - fold 6,0.00%,0.77%,0.83%,15.38%,1.00%,1.94%,1.12%,6.03%,7.47%,11.32%,...,5.87%,1.87%,13.92%,1.24%,21.61%,4.22%,1.64%,0.50%,0.46%,0.88%
validation set - fold 6,0.00%,0.76%,0.86%,15.35%,1.03%,1.95%,1.14%,6.05%,7.51%,11.30%,...,5.89%,1.84%,13.89%,1.24%,21.62%,4.22%,1.62%,0.54%,0.43%,0.86%
train set - fold 7,0.00%,0.77%,0.84%,15.38%,1.00%,1.94%,1.12%,6.04%,7.47%,11.32%,...,5.87%,1.87%,13.91%,1.24%,21.61%,4.22%,1.64%,0.51%,0.46%,0.87%
validation set - fold 7,0.00%,0.76%,0.81%,15.40%,1.03%,1.89%,1.13%,6.00%,7.51%,11.29%,...,5.89%,1.89%,13.94%,1.24%,21.61%,4.21%,1.62%,0.49%,0.43%,0.92%
train set - fold 8,0.00%,0.77%,0.83%,15.38%,1.00%,1.94%,1.12%,6.03%,7.48%,11.31%,...,5.87%,1.87%,13.92%,1.24%,21.61%,4.22%,1.64%,0.51%,0.46%,0.88%
validation set - fold 8,0.00%,0.76%,0.87%,15.36%,1.03%,1.95%,1.14%,6.06%,7.46%,11.36%,...,5.90%,1.84%,13.90%,1.24%,21.63%,4.22%,1.62%,0.49%,0.43%,0.87%
train set - fold 9,0.00%,0.77%,0.83%,15.38%,1.00%,1.94%,1.13%,6.03%,7.47%,11.32%,...,5.87%,1.87%,13.91%,1.24%,21.61%,4.22%,1.64%,0.51%,0.46%,0.88%
validation set - fold 9,0.00%,0.76%,0.86%,15.39%,1.03%,1.94%,1.08%,6.05%,7.51%,11.29%,...,5.89%,1.89%,13.93%,1.24%,21.60%,4.21%,1.67%,0.49%,0.43%,0.86%
train set - fold 10,0.00%,0.76%,0.84%,15.38%,1.01%,1.94%,1.13%,6.03%,7.48%,11.32%,...,5.87%,1.87%,13.91%,1.24%,21.61%,4.22%,1.64%,0.51%,0.46%,0.88%
validation set - fold 10,0.00%,0.81%,0.81%,15.38%,0.98%,1.95%,1.08%,6.07%,7.48%,11.32%,...,5.90%,1.84%,13.92%,1.25%,21.67%,4.23%,1.68%,0.49%,0.43%,0.87%

In [171]:
valid_df = df.loc[df['name'].isin(test_groups) | (df.catId == 6) | (df.catId == 10)]

In [181]:
valid_df.catName.value_counts()

sidewalk_blocks                 400
alley_normal                    284
roadway_normal                  257
caution_zone_manhole            209
caution_zone_grating            138
braille_guide_blocks_normal     112
caution_zone_tree_zone          109
sidewalk_cement                  78
bike_lane                        36
roadway_crosswalk                34
sidewalk_damaged                 31
sidewalk_asphalt                 23
caution_zone_repair_zone         20
braille_guide_blocks_damaged     20
alley_speed_bump                 18
sidewalk_urethane                16
alley_damaged                    15
alley_crosswalk                  15
caution_zone_stairs              14
sidewalk_other                    9
sidewalk_soil_stone               8
Name: catName, dtype: int64

In [182]:
train_df.catName.value_counts()

sidewalk_blocks                 3601
alley_normal                    2563
roadway_normal                  2319
caution_zone_manhole            1886
caution_zone_grating            1246
braille_guide_blocks_normal     1005
caution_zone_tree_zone           978
sidewalk_cement                  703
bike_lane                        323
roadway_crosswalk                312
sidewalk_damaged                 273
sidewalk_asphalt                 207
braille_guide_blocks_damaged     188
caution_zone_repair_zone         186
alley_speed_bump                 168
sidewalk_urethane                146
alley_damaged                    140
caution_zone_stairs              135
alley_crosswalk                  127
sidewalk_other                    85
sidewalk_soil_stone               76
Name: catName, dtype: int64

In [185]:
valid_df.name.drop_duplicates()

156       MP_SEL_SUR_037306.jpg
308       MP_SEL_SUR_000624.jpg
384       MP_SEL_SUR_000637.jpg
489       MP_SEL_SUR_000660.jpg
991       MP_SEL_SUR_001872.jpg
                  ...
179650    MP_SEL_SUR_027883.jpg
179897    MP_SEL_SUR_045231.jpg
180761    MP_SEL_SUR_005985.jpg
181111    MP_SEL_SUR_016607.jpg
181346    MP_SEL_SUR_021818.jpg
Name: name, Length: 487, dtype: object

In [186]:
train_df.to_csv('dataset.v0.train.csv', index=False)
valid_df.to_csv('dataset.v0.valid.csv', index=False)

In [187]:
train_df

,id,name,width,height,label,occluded,points,z_order,attribute,sub_label,catName,catId
5,1,MP_SEL_SUR_037263.jpg,1920,1080,sidewalk,0,"0.00,383.86;194.89,856.91;0.00,869.72",4,"{'@name': 'attribute', '#text': 'blocks'}",blocks,sidewalk_blocks,16
6,1,MP_SEL_SUR_037263.jpg,1920,1080,alley,0,"714.56,0.00;598.34,836.28;948.10,806.84;984.58...",1,"{'@name': 'attribute', '#text': 'normal'}",normal,alley_normal,3
7,1,MP_SEL_SUR_037263.jpg,1920,1080,sidewalk,0,"714.26,0.00;595.63,835.34;244.48,856.75;12.46,...",2,"{'@name': 'attribute', '#text': 'blocks'}",blocks,sidewalk_blocks,16
8,1,MP_SEL_SUR_037263.jpg,1920,1080,sidewalk,0,"211.02,0.00;215.17,16.75;225.09,38.68;232.16,6...",3,"{'@name': 'attribute', '#text': 'blocks'}",blocks,sidewalk_blocks,16
62,13,MP_SEL_SUR_037275.jpg,1920,1080,sidewalk,0,"1919.13,125.28;1846.01,95.16;1838.34,96.22;183...",4,"{'@name': 'attribute', '#text': 'cement'}",cement,sidewalk_cement,17
...,...,...,...,...,...,...,...,...,...,...,...,...
181263,19,MP_SEL_SUR_021798.jpg,1920,1080,sidewalk,0,"1920.00,208.88;1824.06,96.28;1591.13,183.49;14...",1,"{'@name': 'attribute', '#text': 'blocks'}",blocks,sidewalk_blocks,16
181283,24,MP_SEL_SUR_021803.jpg,1920,1080,sidewalk,0,"1428.10,0.00;1423.50,39.30;1466.70,45.20;1474....",1,"{'@name': 'attribute', '#text': 'blocks'}",blocks,sidewalk_blocks,16
181284,24,MP_SEL_SUR_021803.jpg,1920,1080,sidewalk,0,"1920.00,835.74;1835.27,1079.69;1920.00,1080.00",2,"{'@name': 'attribute', '#text': 'blocks'}",blocks,sidewalk_blocks,16
181285,24,MP_SEL_SUR_021803.jpg,1920,1080,sidewalk,0,"1583.31,39.88;1593.09,45.88;1588.36,74.56;1598...",3,"{'@name': 'attribute', '#text': 'blocks'}",blocks,sidewalk_blocks,16
181286,24,MP_SEL_SUR_021803.jpg,1920,1080,caution_zone,0,"1497.50,100.33;1373.93,91.70;1437.54,166.20;15...",4,"{'@name': 'attribute', '#text': 'tree_zone'}",tree_zone,caution_zone_tree_zone,12

In [ ]:
dummy_coco_json = {
    'info': {},
    'licenses': [],
    'images': [],
    'categories': [],
    'annotations': []
}

dummy_coco_image = {
    "width": 1920,
    "height": 1080,
    "file_name": None,  # need
    "license": 0,
    "flickr_url": None,
    "coco_url": None,
    "date_captured": None,
    "id": None  # need
}

In [190]:
df.height.unique()

array([1080])